extend pug/plantilla.pug
block content 
  section.cards-container
    +card(subtitulos[0],text_cards[0],texto_boton,ruta_imagen[0], back_class[0])
    +card(subtitulos[1],text_cards[1],texto_boton,ruta_imagen[1], back_class[1])
    +card(subtitulos[2],text_cards[2],texto_boton,ruta_imagen[2], back_class[2])
