include globales.pug
doctype html
html(lang="es")
  include head.pug
  body 
    block content
    .credits
      p 
        |  Challenge by 
        a(href="https://www.frontendmentor.io/") Frontend Mentor 
        |  coded by  
        a(href="https://twitter.com/CamiloBeltran") CamiloBeltran    